    /* Color sections in Hex */
    $BaseColor-1-hex: #f76492;
    $BaseColor-2-hex: #F9627D;
    $BaseColor-3-hex: #F57684;
    $BaseColor-4-hex: #F58791;
    $BaseColor-5-hex: #F4AAAB;
    $BaseColor-6-hex: #F4CDC6;
    $BaseColor-7-hex: #ffffff;

    /* Color text in Hex */
    $BaseColor-1-text-hex: #FFFFFF;
    $BaseColor-2-text-hex: #FBFDFC;
    $BaseColor-3-text-hex: #FBFFFE;
    $BaseColor-4-text-hex: #FFADAD;
    $BaseColor-5-text-hex: #FFC2C1;
    $BaseColor-6-text-hex: #FF9494;

    /* Color buttons in Hex */
    $BaseColor-1-button-hex: #EF476F;
    $BaseColor-2-button-hex: #E15C6D;
    $BaseColor-3-button-hex: #DB5A6A;
    $BaseColor-4-button-hex: #F0DDD2;
    $BaseColor-5-button-hex: #F2E2D6;
    $BaseColor-6-button-hex: #FDFFFC ;

    /* Color gradients sections  */