.testimonials-slider {
    display: flex;
    align-items: center;
    .testimonials-content-container {
        max-width: 65rem;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-image: url("../../Assets/Img/bg-alt-01.svg");
            background-size: cover;
            z-index: 0;
        }
    }
    .testimonials-slider-content {
        margin-left: 10rem;
        margin-top: 7rem;
        width: 88.8%;
        z-index: 1;
        h1 {
            font-size: 3.6vw;
            font-weight: 900;
            letter-spacing: -3px;
            line-height: 1;
            color: $BaseColor-1-text-hex;
        }
        h2 {
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 3px;
            margin-bottom: 12px;
            color: $BaseColor-1-text-hex;
        }
        .testimonials-divider {
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 7rem;
            height: 0.2rem;
            background-color: $BaseColor-1-text-hex;
        }
        p {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            margin-bottom: 1rem;
            padding-right: 6rem;
            color: $BaseColor-1-text-hex;
        }
    }
    .testimonials-slider-img-container {    
        width: 100%;
        height: 100vh;
        overflow: hidden;
        .testimonials-slider-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
